# Python Introduction

What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

- web development (server-side),
- software development,
- mathematics,
- system scripting.

What can Python do?

- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

Why Python?

- Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
- Python has a simple syntax similar to the English language.
- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
- Python can be treated in a procedural way, an object-oriented way or a functional way.

Good to know

- The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
- In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.

Python Syntax compared to other programming languages

- Python was designed for readability, and has some similarities to the English language with influence from mathematics.
- Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [1]:
print("Hello, World!")

Hello, World!

# Python Syntax

## 1. Python Indentation
Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [5]:
if 5 > 2:
    print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [11]:
if 5 > 2:
    print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (2709113769.py, line 3)

## 2. Comments
Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [16]:
# This is a comment.

print("Hello, World!")

Hello, World!

## 3. Multi Line Comments

In [17]:
# This is a comment
# written in
# more than just one line
print("Hello, World!")

Hello, World!

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [18]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

## 4. Variables
Variables are containers for storing data values.

### 4.1 Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

### 4.2 Casting
If you want to specify the data type of a variable, this can be done with casting.

In [19]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

### 4.3 Get the Type

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

### 4.4 Single or Double Quotes?
String variables can be declared either by using single or double quotes:

In [21]:
x = "John"
# is the same as
x = 'John'

### 4.5 Case-Sensitive
Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

### 4.6 Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [23]:
# Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [24]:
# Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (1350214769.py, line 2)

### 4.7 Many Values to Multiple Variables

In [26]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### 4.8 One Value to Multiple Variables

In [27]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### 4.9 Unpack a Collection

In [29]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### 4.10 Global Variables

In [31]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [32]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

## 5. Data Types

Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types **built-in** by default, in these categories:

- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview
- None Type:	NoneType

In [35]:
# Getting the Data Type
# You can get the data type of any object by using the type() function:

x = 5
print(type(x))

<class 'int'>

### 5.1 Python Numbers
There are three numeric types in Python:

- int
- float
- complex
Variables of numeric types are created when you assign a value to them:

In [36]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

In [37]:
# Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

# Float can also be scientific numbers with an "e" to indicate the power of 10.

a = -87.7e100
print(type(a))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [39]:
# Complex numbers are written with a "j" as the imaginary part.

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### 5.2 Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [40]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Random Number

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [41]:
import random

print(random.randrange(1, 10))

4

## 6. Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [42]:
print("Hello")
print('Hello')

Hello
Hello

### 6.1 Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [43]:
a = "Hello"
print(a)

Hello

### 6.2 Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [44]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [45]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.
|
Square brackets can be used to access elements of the string.

In [74]:
# Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[1])

e

#### Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [75]:
for x in "banana":
    print(x)

b
a
n
a
n
a

#### String Length

To get the length of a string, use the len() function.

In [76]:
a = "Hello, World!"
print(len(a))

13

#### Check String
To check if a certain phrase or character is present in a string, we can use the keyword `in`.

In [78]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [77]:
# Use it in an if statement:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

#### Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword `not in`.

In [79]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [80]:
# Use it in an if statement:

txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

### 6.3 Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [47]:
# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

In [48]:
# Slice From the Start
# By leaving out the start index, the range will start at the first character:

b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
# Slice To the End
# By leaving out the end index, the range will go to the end:

b = "Hello, World!"
print(b[2:])

In [ ]:
# Negative Indexing
# Use negative indexes to start the slice from the end of the string:

b = "Hello, World!"
print(b[-5:-2])

### 6.4 Modify Strings

Python has a set of built-in methods that you can use on strings.

In [49]:
# Upper Case

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [50]:
# Lower Case

a = "Hello, World!"
print(a.lower())

hello, world!

In [56]:
# Remove Whitespace
# Whitespace is the space before and/or after the actual text, and very often you want to remove this space.
# The strip() method removes any whitespace from the beginning or the end:

a = "   Hello, World! "
print(a.strip()) # returns "Hello, World!"

1Hello, World!

In [57]:
# Replace String
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [58]:
# Split String
# The split() method returns a list where the text between the specified separator becomes the list items.

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

### 6.5 String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [59]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [60]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### 6.6 String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [63]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [64]:
# Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [65]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [66]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## 7. Boolean Values
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [69]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [71]:
# When you run a condition in an if statement, Python returns True or False:

a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

### 7.1 Evaluate Values and Variables
The bool() function allows you to evaluate any value, and give you `True` or `False` in return,

In [73]:
# Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [81]:
# Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### 8. Operators

Operators are used to perform operations on variables and values

Python divides the operators in the following groups:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

#### Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

<img src="./1.png" width="500" height="250">

#### Python Assignment Operators
Assignment operators are used to assign values to variables:

<img src="./3.png" width="500" height="250">

#### Python Comparison Operators
Comparison operators are used to compare two values:

<img src="./4.png" width="500" height="250">

#### Python Logical Operators
Logical operators are used to combine conditional statements:

<img src="./5.png" width="500" height="250">

#### Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

<img src="./6.png" width="500" height="250">

#### Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

<img src="./7.png" width="500" height="250">

#### Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:

<img src="./8.png" width="500" height="250">

### 9. List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [86]:
# Create a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

#### List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

#### Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

#### Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

#### Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [87]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

#### List Length
To determine how many items a list has, use the len() function:

In [88]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

#### List Items - Data Types

In [89]:
# String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [90]:
# A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

### 9.1 Access Items

List items are indexed and you can access them by referring to the index number:

In [91]:
# Print the second item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

#### Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [92]:
# Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

#### Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [93]:
# Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

#### Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list:

In [94]:
# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

### 9.2 Change Item Value

To change the value of a specific item, refer to the index number:

In [95]:
# Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

#### Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [96]:
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

#### Insert Items

To insert a new list item, without replacing any of the existing values, we can use the `insert()` method.

The `insert()` method inserts an item at the specified index:

In [97]:
# Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

#### Append Items
To add an item to the end of the list, use the `append()` method:

In [98]:
# Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

#### Extend List

To append elements from another list to the current list, use the `extend()` method.

In [99]:
# Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### 9.3 Remove list items
#### Remove Specified Item
The `remove()` method removes the specified item.

In [100]:
# Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

#### Remove Specified Index
The `pop()` method removes the specified index.

In [101]:
# Remove the second item:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

# note : If you do not specify the index, the pop() method removes the last item.

['apple', 'cherry']

#### The `del` keyword also removes the specified index:

In [102]:
# Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

#### The `del` keyword can also delete the list completely.

In [103]:
# Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

#### Clear the List
The `clear()` method empties the list.

The list still remains, but it has no content.

In [104]:
# Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

### 9.4 Loop Through a List
You can loop through the list items by using a for loop:

In [106]:
# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

#### Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the `range()` and `len()` functions to create a suitable iterable.

In [109]:
# Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])
    
# note : The iterable created in the example above is [0, 1, 2].

apple
banana
cherry

### 9.5 Using a While Loop
You can loop through the list items by using a while loop.

Use the `len()` function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [110]:
# Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

#### Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

In [111]:
# A short hand for loop that will print all items in a list:

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

### 9.6 Sort Lists

Sort List Alphanumerically
- List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default:

In [112]:
# Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [113]:
# Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

#### Sort Descending
To sort descending, use the keyword argument `reverse = True`:

In [116]:
# Sort the list descending string:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [117]:
# Sort the list descending numerical:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

#### Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The `reverse()` method reverses the current sorting order of the elements.

In [118]:
# Reverse the order of the list items:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

### 9.7 Join Lists
#### Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the `+` operator.

In [119]:
# Join two list

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [120]:
# Another way to join two lists is by appending all the items from list2 into list1, one by one:
# Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [121]:
# Or you can use the extend() method, which purpose is to add elements from one list to another list:
# Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### List Methods
Python has a set of built-in methods that you can use on lists.

<img src="./9.png" width="600" height="300">

### 10. Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are `List`, `Set`, and `Dictionary`, all with different qualities and usage.

A tuple is a collection which is ordered and `unchangeable`.

Tuples are written with round brackets.

In [122]:
# Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

### Tuple Items

Tuple items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

`Ordered`
- When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

`Unchangeable`
- Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

`Allow Duplicates`
- Since tuples are indexed, they can have items with the same value:

#### Tuple Length
To determine how many items a tuple has, use the `len()` function:

In [123]:
# Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

#### Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [124]:
# One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

# NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

#### Tuple Items - Data Types
Tuple items can be of any data type:

In [1]:
# String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
# A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

### 10.1 Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets:

In [2]:
# Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

# Note: The first item has index 0.

banana

#### Negative Indexing
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [3]:
# Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

#### Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [4]:
# Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

# Note: The search will start at index 2 (included) and end at index 5 (not included).

('cherry', 'orange', 'kiwi')

 ### 10.2 Update Tuples
 Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created. But there are some workarounds.

#### Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are `unchangeable`, or `immutable` as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [5]:
# Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

#### Add Items
Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. `Convert into a list`: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [6]:
# Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

2. `Add tuple to a tuple`. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [7]:
# Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

# Note: When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

('apple', 'banana', 'cherry', 'orange')

### 10.3 Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [11]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

# Packing a tuple:
print(fruits)

# Unpacking a tuple:
print(green)
print(yellow)
print(red)

('apple', 'banana', 'cherry')
apple
banana
cherry

#### Using Asterisk (*)
If the number of variables is less than the number of values, you can add an `*` to the variable name and the values will be assigned to the variable as a list:

In [12]:
# Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [13]:
# Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### 10.4 Loop Through a Tuple
You can loop through the tuple items by using a `for` loop.

In [15]:
# Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

#### Loop Through the Index Numbers
You can also loop through the tuple items by referring to their index number.

Use the `range()` and `len()` functions to create a suitable iterable.

In [16]:
# Print all items by referring to their index number:

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

#### Using a While Loop
You can loop through the list items by using a `while` loop.

Use the `len()` function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [18]:
# Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

#### Join Tuples

#### Join Two Tuples
To join two or more tuples you can use the `+` operator:

In [19]:
# Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

#### Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the `*` operator:

In [20]:
# Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### 11. Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are `List`, `Tuple`, and `Dictionary`, all with different qualities and usage.

#### Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

`Unordered`
- Unordered means that the items in a set do not have a defined order.
- Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

`Unchangeable`
- Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [22]:
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

#### Get the Length of a Set
To determine how many items a set has, use the `len()` function.

In [23]:
# Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

#### Set Items - Data Types
Set items can be of any data type:

In [28]:
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

# A set can contain different data types:
# A set with strings, integers and boolean values:

set4 = {"abc", 34, True, 40, "male"}

### 11.1 Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a `for` loop, or ask if a specified value is present in a set, by using the `in` keyword.

In [29]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

In [30]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

### 11.2 Change Items

#### Add Items
To add one item to a set use the `add()` method.

In [32]:
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

#### Add Sets
To add items from another set into the current set, use the `update()` method.

In [33]:
# Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'papaya', 'pineapple', 'mango', 'apple', 'cherry'}

#### Add Any Iterable
The object in the `update()` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [34]:
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'banana', 'orange', 'apple', 'cherry'}

### 11.3 Remove Item
To remove an item in a set, use the `remove()`, or the `discard()` method.

In [35]:
# Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [37]:
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

# Note: If the item to remove does not exist, discard() will NOT raise an error.

{'apple', 'cherry'}

You can also use the `pop()` method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the `pop()` method is the removed item.

In [40]:
# Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

# Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

banana
{'apple', 'cherry'}

In [39]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [44]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

### 11.4 Loop Items
You can loop through the set items by using a `for` loop:

In [45]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

### 11.5 Join Sets
#### Join Two Sets
There are several ways to join two or more sets in Python.

You can use the `union()` method that returns a new set containing all items from both sets, or the `update()` method that inserts all the items from one set into another:

In [47]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'b', 'c'}

In [49]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

# Note: Both union() and update() will exclude any duplicate items.

{1, 2, 'a', 3, 'b', 'c'}

#### Keep ONLY the Duplicates
The `intersection_update()` method will keep only the items that are present in both sets.

In [50]:
# Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The `intersection()` method will return a new set, that only contains the items that are present in both sets.

In [51]:
# Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

#### Keep All, But NOT the Duplicates
The `symmetric_difference_update()` method will keep only the elements that are `NOT` present in both sets.

In [52]:
# Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'google', 'banana', 'cherry'}

The `symmetric_difference()` method will return a new set, that contains only the elements that are `NOT` present in both sets.

In [53]:
# Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'google', 'banana', 'cherry'}

### 12. Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.  
Dictionaries are written with curly brackets, and have keys and values:

In [54]:
# Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### Dictionary Length
To determine how many items a dictionary has, use the `len()` function:

In [55]:
# Print the number of items in the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

#### Dictionary Items - Data Types
The values in dictionary items can be of any data type:

In [59]:
# String, int, boolean, and list data types:

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
# print(thisdict)

### 12.1 Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [60]:
# Get the value of the "model" key:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

There is also a method called `get()` that will give you the same result:

In [61]:
# Get the value of the "model" key:

x = thisdict.get("model")

#### Get Keys
The `keys()` method will return a list of all the keys in the dictionary.

In [63]:
# Get a list of the keys:

x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [64]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

#### Get Values
The `values()` method will return a list of all the values in the dictionary.

In [65]:
# Get a list of the values:

x = thisdict.values()

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [66]:
# Make a change in the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [67]:
# Add a new item to the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

#### Get Items
The `items()` method will return each item in a dictionary, as tuples in a list.

In [68]:
# Get a list of the key:value pairs

x = thisdict.items()

The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [69]:
# Make a change in the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [70]:
# Add a new item to the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

#### Check if Key Exists
To determine if a specified key is present in a dictionary use the `in` keyword:

In [71]:
# Check if "model" is present in the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

### 12.2 Change Dictionary Items

#### Change Values
You can change the value of a specific item by referring to its key name:

In [72]:
# Change the "year" to 2018:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

#### Update Dictionary
The `update()` method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [73]:
# Update the "year" of the car by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

### 12.3 Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [74]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

#### Update Dictionary
The `update()` method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs

In [75]:
# Add a color item to the dictionary by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

### 12.4 Removing Items
There are several methods to remove items from a dictionary:

In [76]:
# The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [78]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [77]:
# The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [79]:
# The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [80]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

### 12.5 Loop Dictionaries

#### Loop Through a Dictionary
You can loop through a dictionary by using a `for` loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [81]:
# Print all key names in the dictionary, one by one:

for x in thisdict:
    print(x)

In [82]:
# Print all values in the dictionary, one by one:

for x in thisdict:
    print(thisdict[x])

In [83]:
# You can also use the values() method to return values of a dictionary:

for x in thisdict.values():
    print(x)

In [85]:
# You can use the keys() method to return the keys of a dictionary:

for x in thisdict.keys():
    print(x)

In [84]:
# Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
    print(x, y)

### 13. Python Conditions and If statements

- Equals: `a == b`
- Not Equals: `a != b`
- Less than: `a < b`
- Less than or equal to: `a <= b`
- Greater than: `a > b`
- Greater than or equal to: `a >= b`

#### IF
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the `if` keyword.

In [87]:
# If statement:

a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

#### Elif
The `elif` keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [88]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

#### Else
The `else` keyword catches anything which isn't caught by the preceding conditions.

In [89]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

#### Short Hand statement

In [90]:
# Short Hand If
if a > b: print("a is greater than b")
    
# Short Hand If ... Else
a = 2
b = 330
print("A") if a > b else print("B")

# One line if else statement, with 3 conditions:
x = 330
y = 330
print("X") if a > b else print("=") if x == y else print("Y")

a is greater than b
B
=

#### And
The `and` keyword is a logical operator, and is used to combine conditional statements:

In [92]:
# Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

#### Or
The `or` keyword is a logical operator, and is used to combine conditional statements:

In [93]:
# Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

#### Nested If
You can have `if` statements inside `if` statements, this is called nested `if` statements.

In [94]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

#### The pass Statement
`if` statements cannot be empty, but `if` you for some reason have an if statement with no content, put in the `pass` statement to avoid getting an error.

In [95]:
a = 33
b = 200

if b > a:
    pass

### 14. The while Loop
With the `while` loop we can execute a set of statements as long as a condition is true.

In [96]:
# Print i as long as i is less than 6:

i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

#### The break Statement
With the `break` statement we can stop the loop even if the while condition is true:

In [98]:
# Exit the loop when i is 3:

i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

### 15. Python For Loops
A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the `for` keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the `for` loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [99]:
# Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

#### Looping Through a String
Even strings are iterable objects, they contain a sequence of characters:

In [100]:
for x in "banana":
    print(x)

b
a
n
a
n
a

#### The break Statement
With the `break` statement we can stop the loop before it has looped through all the items:

In [101]:
# Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

### 16. Functions

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

#### Creating a Function
In Python a function is defined using the `def` keyword:

In [102]:
def my_function():
    print("Hello from a function")

#### Calling a Function
To call a function, use the function name followed by parenthesis:

In [103]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

#### Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [104]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

### 17. Classes and Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

In [24]:
""" This is an example demonstrating how to reference the different scopes and namespaces, 
and how global and nonlocal affect variable binding: 
"""

def scope_test():
    def do_local():
        spam = "local spam"

    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"

    def do_global():
        global spam
        spam = "global spam"

    spam = "test spam"
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)

scope_test()
print("In global scope:", spam)

After local assignment: test spam
After nonlocal assignment: nonlocal spam
After global assignment: nonlocal spam
In global scope: global spam

In [29]:
"""For example, the tricks list in the following code should not be used as a class variable 
because just a single list would be shared by all Dog instances
"""

class Dog:

    tricks = []             # mistaken use of a class variable

    def __init__(self, name):
        self.name = name

    def add_trick(self, trick):
        self.tricks.append(trick)

d = Dog('Fido')
e = Dog('Buddy')
d.add_trick('roll over')
e.add_trick('play dead')
d.tricks                # unexpectedly shared by all dogs

['roll over', 'play dead']

In [28]:
# Correct design of the class should use an instance variable instead

class Dog:

    def __init__(self, name):
        self.name = name
        self.tricks = []    # creates a new empty list for each dog

    def add_trick(self, trick):
        self.tricks.append(trick)

d = Dog('Fido')
e = Dog('Buddy')
d.add_trick('roll over')
e.add_trick('play dead')
print(d.tricks)
print(e.tricks)

['roll over']
['play dead']

#### Create a Class
To create a class, use the keyword `class`:

In [2]:
# Create a class named MyClass, with a property named x:

class MyClass:
    x = 5

#### Create Object
Now we can use the class named MyClass to create objects:

In [30]:
# Create an object named p1, and print the value of x:

p1 = MyClass()
print(p1.x)

5

#### The __init__() Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [4]:
# Create a class named Person, use the __init__() function to assign values for name and age:

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

#### Object Methods
Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [31]:
# Insert a function that prints a greeting, and execute it on the p1 object:

class Person:
    def __init__(self, name, age, gender, email):
        self.name = name
        self.age = age
        self.gender = gender
        self.email = email

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36, "male", "john@gmail.com")
p2 = Person("Sara", 30, "female", "Sara@gmail.com")
p1.myfunc()
p2.myfunc()

Hello my name is John
Hello my name is Sara

#### The self Parameter
The `self` parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named `self` , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [32]:
# Use the words mysillyobject and abc instead of self:

class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

### 18. Reading and Writing to text files in Python

1. `Read Only (r)` : Open text file for reading. The handle is positioned at the beginning of the file. If the file does not exists, raises the I/O error. This is also the default mode in which a file is opened.   

2. `Read and Write (r+)`: Open the file for reading and writing. The handle is positioned at the beginning of the file. Raises I/O error if the file does not exist.   
3. `Write Only (w)` : Open the file for writing. For the existing files, the data is truncated and over-written. The handle is positioned at the beginning of the file. Creates the file if the file does not exist.   

4. `Write and Read (w+)` : Open the file for reading and writing. For an existing file, data is truncated and over-written. The handle is positioned at the beginning of the file.   

5. `Append Only (a)`: Open the file for writing. The file is created if it does not exist. The handle is positioned at the end of the file. The data being written will be inserted at the end, after the existing data.   

6. `Append and Read (a+)` : Open the file for reading and writing. The file is created if it does not exist. The handle is positioned at the end of the file. The data being written will be inserted at the end, after the existing data.

#### Opening a File

File_object = open(r"File_Name","Access_Mode")

In [1]:
# Open function to open the file "MyFile1.txt" 
# (same directory) in append mode and
file1 = open("MyFile1.txt","a")
  
# store its reference in the variable file1 
# and "MyFile2.txt" in D:\Text in file2
file2 = open(r"D:\Text\MyFile2.txt","w+")

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Text\\MyFile2.txt'

In [ ]:
# Opening and Closing a file "MyFile.txt"
# for object name file1.
file1 = open("MyFile.txt","a")
file1.close()

#### Writing to a file

1. `write()` : Inserts the string str1 in a single line in the text file.
2. `writelines()` : For a list of string elements, each string is inserted in the text file.Used to insert multiple strings at a single time.

In [ ]:
File_object.write(str1)

File_object.writelines(L) for L = [str1, str2, str3]

#### Reading from a file

1. `read()` : Returns the read bytes in form of a string. Reads n bytes, if no n specified, reads the entire file.
2. `readline()` : Reads a line of the file and returns in form of a string.For specified n, reads at most n bytes. However, does not reads more than one line, even if n exceeds the length of the line.

In [ ]:
File_object.read([n])

File_object.readline([n])
File_object.readlines()

In [ ]:
# Program to show various ways to read and
# write data in a file.
file1 = open("myfile.txt","w")
L = ["This is Delhi \n","This is Paris \n","This is London \n"] 
  
# \n is placed to indicate EOL (End of Line)
file1.write("Hello \n")
file1.writelines(L)
file1.close() #to change file access modes
  
file1 = open("myfile.txt","r+") 
  
print("Output of Read function is ")
print(file1.read())
print()
  
# seek(n) takes the file handle to the nth
# bite from the beginning.
file1.seek(0) 
  
print( "Output of Readline function is ")
print(file1.readline()) 
print()
  
file1.seek(0)
  
# To show difference between read and readline
print("Output of Read(9) function is ") 
print(file1.read(9))
print()
  
file1.seek(0)
  
print("Output of Readline(9) function is ") 
print(file1.readline(9))
  
file1.seek(0)
# readlines function
print("Output of Readlines function is ") 
print(file1.readlines()) 
print()
file1.close()